 
.container__apps{
    width: 90px;
    display: inline-block;
    margin: 20px 22px;
}
.app{
    width: 90px;
    height: 125px;
    cursor:pointer;
    transform:scale(.9);
    display: inline-block;
    animation: scales .3s 2s ease-in;
    transition:1s;
}
@keyframes scales{
    from{
        transform: scale(.9);
        filter:blur(10);
    }
    to{
        transform: scale(1);
        filter:blur(0);
    }
}

.app img{
    width: 90px;
    min-height: 90px;
    background-color: #eee;
    border-radius: 30px;
     
}

.title__app{
    text-align: center;
    font-family:ubuntu;
    font-size: 17px;
    padding: 5px;
}





