 
.container__apps{
    width: 90px;
    display: inline-block;
    margin: 20px 22px;  
}
 
.app{
    width: 90px;
    height: 125px;
    cursor:pointer;
    transform:scale(.9);
    display: inline-block;
    
    transition:1s; 
  
}

.app img{
    width: 90px;
    min-height: 90px;
    background-color: #eee;
    border-radius: 30px;
    animation: scales .5s .3s ease-out;
}
@keyframes scales{
    from{
        transform: scale(.9);
        filter:blur(8px);
    }
    to{
        transform: scale(1);
        filter:blur(0);
    }
}

.title__app{
    text-align: center;
    font-family:ubuntu;
    font-size: 17px;
    padding: 5px;
}





