

.container__shared{
    
    padding: 10px;
    margin-top: 25px;
}
.title__shared p{
    color:#555;
    font-size: 12px;
    font-weight:400;
    font-family: ubuntu;
}
.items{
    border-radius: 8px;
    width:290px;
   
    background-color:white;
}
.item{
    border-radius: 8px;
    display:flex;
    padding:5px 5px 0 5px;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
    
}
.item img{
    width: 50px;
    border-radius: 10px;
}

.item__title__container{
    border-bottom: 1px solid #eee;
    width: 230px;
    margin-left:13px;
}
.item__title__container h1,p{
    margin: 0;

}
.item__title__container p{
    margin: 0;
    color: #999;
    font-size: 11px;
    font-weight: 500;
}

.item__title__container h1{
    margin: 0;
    margin-bottom: -3px;
    color: black;
    font-size: 15px;
    font-family: ubuntu;
    font-weight: 400;


}
.image__exception{
    margin-top: 10px; 
    border-radius: 8px; 
    cursor:pointer;
    width: 290px;
}
 .image__exception img{
     width: 100%;
     border-radius: 8px;
 }