

<!-- user info -->
<app-user-info></app-user-info>


<article class="container__shared">
    <div class="title__shared">
        <p>SHARED WITH YOUR FAMILY</p>
    </div>
 
    <div class="items">
        
        <div class="item" matRipple>
            <img src="../../../assets/images/icloud-images/apple-music.png" alt="">

            <div class="item__title__container">
                <h1>Apple Music</h1>
                <p>Shared by me</p>
            </div>
        </div>

        <div class="item" matRipple>
            <img src="../../../assets/images/icloud-images/apple-arcade.png" alt="">
            
            <div class="item__title__container">
                <h1>Apple Arcade</h1>
                <p>Shared by me</p>
            </div>
        </div>

    </div>




     <br>
    <div class="items">
        
        <div class="item" matRipple>
            <img src="../../../assets/images/icloud-images/location-sharing.png" alt="">

            <div class="item__title__container">
                <h1>Location Sharing</h1>
                <p>Shared by me</p>
            </div>
        </div>

        <div class="item" matRipple>
            <img src="../../../assets/images/icloud-images/sharing.png" alt="">
            
            <div class="item__title__container">
                <h1>Family</h1>
                <p>Shared by me</p>
            </div>
        </div>
 
        

    </div>

    <div class="image__exception" matRipple>
        <img src="../../../assets/images/icloud-images/space.png" alt="">
    </div>

</article>

