

<section class="animate container__login">
    <article class="logo__icloud">
        <img src="../../../assets/images/icloud-images/icloud.png" alt="icloud logo">
    </article>

    <article class="title">
        <h1>Sign in to iCloud</h1>
    </article>

    <article class="inputs">
        <input type="text" disabled value="Jereramirez499@icloud.com">
        <input type="password" disabled  class="input__password" value="000000000000000000">
    </article>

    <article class="keep">
        <mat-checkbox class="keepme" color="primary">
            Keep me signed in
        </mat-checkbox>
    </article>


    <article>
        <app-spinner></app-spinner>
    </article>
</section>