.flex-1{
    display: flex;
    justify-content: space-around;
   

}

.setting{
    padding: 20px;
    margin: 12px;
    margin-left:-10px;
    width: 300px !important;
    border-right: 1px solid #eee;
    /* height: 100vh; */
}

.setting h1{
    font-weight:600 !important;
}

.apps{
    padding: 20px;
    margin: 18px;
    width: 800px !important;
   
}

.apps h1{
    font-weight:600 !important;
}





@media screen and (max-width: 1000px){
    .flex-1{
        display: flex;
        justify-content: center;
        flex-direction: column;
       
    
    }
    .setting{
        width: 70%;
        border-right:none;
    }
}