.flex-1{
    display: flex;
    justify-content: space-around;
   

}
.setting{
    padding: 20px;
    margin: 18px;
    width: 300px !important;
    border-right: 1px solid #eee;
    /* height: 100vh; */
}

.setting h1{
    font-weight:600 !important;
}

.apps{
    padding: 20px;
    margin: 18px;
    width: 600px !important;
   
}

.apps h1{
    font-weight:600 !important;
}