.container__loadings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: -60px;
    height: 300px;
    align-items: center; 
    background-color: rgb(243, 239, 239); 
    padding-top: 18%;
}
.loading{
    animation: animateLoading 1s ease-in;
    transition: 1s;
}

@keyframes animateLoading{
    from{
        opacity: .1;
    }
    to{
        opacity: 1;
    }
}